<!-- <p-tabView styleClass="orientation-left flex h-full"> -->
<p-tabView styleClass="orientation-left flex h-full">
    <p-tabPanel id="explorer-tab">
        <ng-template pTemplate="header">
            <i class="pi pi-copy text-xl" pTooltip="Explorer" [showDelay]="750"></i>
        </ng-template>
        <p-tree class="w-full md:w-30rem filetree" [value]="files"></p-tree>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-box text-xl" pTooltip="Components" [showDelay]="750"></i>
        </ng-template>
        <app-component-tree-container></app-component-tree-container>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-search text-xl" pTooltip="Search" [showDelay]="750"></i>
        </ng-template>
        <div class="p-3">
            <span class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input type="text" class="w-full" id="find" pInputText placeholder="Find" [(ngModel)]="findStr"/>
            </span>
        </div>
    </p-tabPanel>
    <!-- <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-cog text-xl" pTooltip="Settings" [showDelay]="750"></i>
        </ng-template>
        <p>application settings</p>
    </p-tabPanel>   -->
</p-tabView>