:host ::ng-deep {
    .orientation-left {
        display: flex;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: var(--text-color-secondary);

        .p-tabview-nav-container {
            border-right-style: solid;
            border-right-width: 1px;
            border-right-color: var(--text-color-secondary);
        }

        .p-tabview-nav {
            flex-direction: column;
            width: 100%;
        }

        .p-tabview-nav li .p-tabview-nav-link {
            border: none;
        }

        .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
            box-shadow: inset 0.25rem 0 0 0 var(--tw-ring-color);
        }

        .p-tabview-nav li.p-highlight .p-tabview-nav-link {
            box-shadow: inset 0.25rem 0 0 0 var(--tw-ring-color);
        }

        .p-tabview-panels {
            padding: 0;
            width: 350px;
            overflow: scroll;
        }

        .p-tabview-panel {
            height: 100%;
        }
    }
}