<div class="h-screen flex flex-col surface-ground">
    <div id="primary-header" class="surface-overlay flex flex-col relative lg:static" style="min-height: auto">
        <span class="flex lg:flex-row lg:align-center pt-3 pl-3">
            <p-button icon="pi pi-chevron-left" styleClass="p-button-text p-button-secondary text-2xl"></p-button>
            <input type="text" id="projectName" class="text-2xl" pInputText [(ngModel)]="value"/>
        </span>

        <app-menubar-container></app-menubar-container>
    </div>

    <div class="flex flex-row h-full" style="min-height: 0;">
        <app-left-panel></app-left-panel>
        <app-workspace #appWorkspace style="width: calc(100% - 404px)"></app-workspace>
    </div>

    <app-status-bar></app-status-bar>
</div>