<ul>
    <li class="menu">
        <span class="dropbtn">File</span>
        <div class="menu-content">
            <span (click)="acknowledge()">New</span>
            <span (click)="acknowledge()">Open</span>
            <span (click)="acknowledge()">Save</span>
            <hr>
            <span (click)="acknowledge()">Exit</span>
        </div>
    </li>
    <li class="menu">
        <span class="dropbtn">Edit</span>
        <div class="menu-content">
            <span (click)="acknowledge()">Placeholder</span>
            <span (click)="acknowledge()">Placeholder</span>
            <span (click)="acknowledge()">Placeholder</span>
        </div>
    </li>
    <li class="menu">
        <span class="dropbtn">Run</span>
        <div class="menu-content">
            <span (click)="acknowledge()">Placeholder</span>
            <span (click)="acknowledge()">Placeholder</span>
            <span (click)="acknowledge()">Placeholder</span>
        </div>
    </li>
    <li class="menu">
        <span class="dropbtn">Help</span>
        <div class="menu-content">
            <span (click)="acknowledge()">Placeholder</span>
            <span (click)="acknowledge()">Placeholder</span>
            <span (click)="acknowledge()">Placeholder</span>
        </div>
    </li>
</ul>